<div class="row">
  <div class="col-sm-9 col-sm-push-3">
    <h1> <%=@post.title %> </h1>
    <p> <%=@post.content %> </p>
      <%= link_to "Delete", delete_user_posts_path(@post.user, @post), method: :delete %>
      <br>
      <%= link_to "Edit", update_post_path(@post.user, @post), method: :update %>
  </div>


  <div class="col-sm-3 col-sm-pull-9">
    <img src="<%=@post.user.photo %>", class="img-responsive" />
    <p> <%= link_to @post.user.first_name, user_path(@post.user) %> </p>
    <p> <%= "Member for " + ((Time.now.to_i - @post.user.created_at.to_i)/3600000).floor.to_s + " days" %> </p>
    <p> <%=@post.user.location %> </p>
  </div>
</div>
