<!DOCTYPE html>
<html>
<head>
  <title>Vagabond</title>
  <link rel="stylesheet" href="https://bootswatch.com/darkly/bootstrap.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <nav class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="navbar-brand">
        <%=link_to "Home", "/" %>
      </div>
    </div>

    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#">Link <span class="sr-only">(current)</span></a></li>
        <li><a href="#">Link</a></li>
        <li class="dropdown">
          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-expanded="false">Dropdown <span class="caret"></span></a>
          <ul class="dropdown-menu" role="menu">
            <li><a href="#">Action</a></li>
            <li><a href="#">Another action</a></li>
            <li><a href="#">Something else here</a></li>
            <li class="divider"></li>
            <li><a href="#">Separated link</a></li>
            <li class="divider"></li>
            <li><a href="#">One more separated link</a></li>
          </ul>
        </li>
      </ul>
      <form class="navbar-form navbar-left" role="search">
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Search">
        </div>
        <button type="submit" class="btn btn-default">Submit</button>
      </form>
      <% if current_user %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Logout", logout_path%></li>
      </ul>
      <% else%>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "Login", login_path%></li>
        <li><%= link_to "Sign Up", new_user_path%></li>
      </ul>
      <%end%>
    </div>
  </div>
</nav>
  <h1>Blue bottle fashion axe lomo flexitarian mumblecore, stumptown forage. IPhone bushwick umami lomo, tofu man braid flexitarian cliche raw denim godard. Stumptown distillery shoreditch sartorial, vice gluten-free food truck typewriter raw denim iPhone crucifix selfies. Mumblecore bicycle rights portland meggings. Artisan +1 plaid kogi brooklyn cold-pressed. Kitsch celiac beard, gastropub distillery austin iPhone ennui listicle. Tofu +1 skateboard umami.

Lomo bicycle rights retro, PBR&B vice man bun microdosing meggings stumptown listicle roof party mixtape. Man braid narwhal williamsburg fap helvetica messenger bag irony scenester shoreditch. Flexitarian pinterest sustainable, four loko twee gentrify lo-fi wayfarers deep v food truck bitters synth bushwick keffiyeh. Pabst selvage tilde, chillwave helvetica post-ironic hoodie cray kinfolk try-hard mlkshk VHS. Banjo actually chia portland, hella single-origin coffee lomo microdosing mumblecore fashion axe freegan quinoa tousled. Bushwick street art narwhal pour-over. Listicle chambray narwhal, whatever swag polaroid hoodie schlitz scenester locavore butcher.

Butcher raw denim mustache, kombucha migas YOLO aesthetic. Chillwave blue bottle hella DIY plaid. Locavore kickstarter listicle, viral flexitarian hammock tumblr affogato tote bag. Literally fixie pug sustainable four dollar toast, roof party tousled small batch hammock. Cronut godard wolf etsy, occupy keytar craft beer cardigan. Squid biodiesel knausgaard aesthetic, vegan put a bird on it heirloom plaid migas offal +1. Forage 8-bit butcher, cronut YOLO heirloom hammock selfies actually cold-pressed.

Single-origin coffee pop-up ennui, twee humblebrag paleo crucifix polaroid tofu chillwave swag. Direct trade gastropub chillwave, fashion axe whatever vegan cray. Crucifix organic viral PBR&B. Gastropub pitchfork plaid, pabst deep v marfa banjo whatever truffaut. Pop-up yr banjo, seitan 3 wolf moon kale chips umami asymmetrical roof party. Tacos keytar bushwick DIY cardigan, truffaut lo-fi helvetica celiac kickstarter tofu deep v. Pitchfork letterpress kale chips tattooed, cardigan sriracha PBR&B typewriter offal normcore kickstarter organic.</h1>
<% flash.each do |name, msg| %>
  <p>
    <small> <%= name.capitalize %> : <%= msg %> </small>
  </p>
<% end %>
<%= yield %>

</body>

<!-- scripts -->

<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
</html>
