<div class="updateUserPage">

  <h1 class="updateUserText">Sign Up</h1>

  <%= form_for @user do |f| %>
  <div>
    <%= f.text_field :first_name, placeholder: "First Name" , class: "updateUser form-control"%>
  </div>
  <div>
    <%= f.text_field :last_name, placeholder: "Last Name" , class: "updateUser form-control"%>
  </div>
  <div>
    <%= f.text_field :email, placeholder: "Email" , class: "updateUser form-control"%>
  </div>
  <div>
    <%= f.text_field :location, placeholder: "Location" , class: "updateUser form-control"%>
  </div>
  <div>
    <%= f.text_field :photo, placeholder: "Picture URL" , class: "updateUser form-control"%>
  </div>

  <%= f.submit "Sign Up", class: "updateUserText btn btn-primary"%>
  <% end %>
</div>
