<script type="text/javascript">
  $(document).ready(function() {
    console.log("ready");
    $(".userPicture").on("focusout", renderImage);
    function renderImage(){
      console.log("focus out");
      var pic = $(".userPicture").val();
      $(".renderPicture").empty();
      $(".renderPicture").append('<img class="samplePic" src="'+pic +'">');
    }
  });
</script>

<div class="newUserPage">

  <h1 class="newUserText">Sign Up</h1>

  <%= form_for @user do |f| %>
  <div>
    <%= f.text_field :first_name, placeholder: "First Name" , class: "newUser form-control"%>
  </div>
  <div>
    <%= f.text_field :last_name, placeholder: "Last Name" , class: "newUser form-control"%>
  </div>
  <div>
    <%= f.text_field :email, placeholder: "Email" , class: "newUser form-control"%>
  </div>
  <div>
    <%= f.text_field :location, placeholder: "Location" , class: "newUser form-control"%>
  </div>
  <div>
    <%= f.password_field :password, placeholder: "Password" , class: "newUser form-control"%>
  </div>
  <div>
    <%= f.text_field :photo, placeholder: "Picture URL" ,class: "newUser form-control userPicture"%>
  </div>

  <%= f.submit "Sign Up", class: "newUserText btn btn-primary"%>
  <div class="renderPicture">
    <img class="samplePic" src="https://lh3.googleusercontent.com/-NIp5BzqFqNE/AAAAAAAAAAI/AAAAAAAAAAA/CapeXh7GWeI/photo.jpg" alt="" />
  </div>
  <p class="samplePicText"> Preview</p>
  <% end %>
</div>
