<div class="newUserPage">

  <h1 class="newUserText">Sign Up</h1>

  <%= form_for @user do |f| %>
  <div>
    <%= f.text_field :first_name, placeholder: "First Name" , class: "newUser form-control"%>
  </div>
  <div>
    <%= f.text_field :last_name, placeholder: "Last Name" , class: "newUser form-control"%>
  </div>
  <div>
    <%= f.text_field :email, placeholder: "Email" , class: "newUser form-control"%>
  </div>
  <div>
    <%= f.text_field :location, placeholder: "Location" , class: "newUser form-control"%>
  </div>
  <div>
    <%= f.password_field :password, placeholder: "Password" , class: "newUser form-control"%>
  </div>
  <div>
    <%= f.text_field :photo, placeholder: "Picture URL" , class: "newUser form-control"%>
  </div>
  <div>
    <%= f.check_box :premium, class: "newUser form-control"%>
  </div>
  <%= f.submit "Sign Up", class: "newUserText btn btn-primary"%>
  <% end %>
</div>
