<div class="profile">

  <% if @user == current_user%>
    <div>
      <h1 class="welcomeProfile">Welcome,</h1>
      <%= image_tag (@user.photo), class: "profilePic"%>
      <p class="name"><%= @user.first_name%> <%= @user.last_name%></br><small><%= @user.location%></small></p></br><%= link_to "Edit", edit_path(@user)%>

    </div>
  <%else%>
    <div>
      <%= image_tag (@user.photo), class: "profilePic"%>
      <p class="name"><%= @user.first_name%> <%= @user.last_name%></br><small><%= @user.location%></small></p>
    </div>
  <%end%>
  <% @user.posts.each do |post| %>
  <div class="posts">
    <hr>
    <%= link_to post.title, user_post_path(@user.first_name, post) %></br>
    <%= post.content%></br></br>
    <p> Published <%= time_ago_in_words (post.created_at)%> ago</p>

    </br>

  </div>
<%end%>
</div>
