<h1>Edit post</h1>

<div class="container">
  <%= form_for @post, url: update_city_post_path(@city.name.gsub(/" "/, "%20"), @post) do |f| %>
  <div>
    <%= f.text_field :title, {placeholder: "Title", class: "form-control"} %>
  </div>
  <div>
    <%= f.text_area :content, {placeholder: "Thoughts", class: "form-control"} %>
  </div>
  <div>
    <%= f.text_field :photo, {placeholder: "Image URL", class: "form-control"} %>
  </div>
  <%= f.submit class: "btn btn-success btn-block"%>
  <% end %>

</div>
