<h1> <%=@post.title %> </h1>
<p> <%=@post.content %> </p>
<p> <%=@post.user.first_name %> </p>
<p> <%=@post.user.created_at %> </p>
<p> <%=@post.user.location %> </p>
<img src="<%=@post.user.photo %>" />
