<div id="myCarousel" class="carousel slide" data-ride="carousel">
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">

<div class="item active">
      <%= image_tag "beach", :class => "coverPhoto"%>
      <div class="carousel-caption">
        <h1 class="splashWelcome">Welcome To HandPrint</h1>
        <p class="splashWelcome"> Your Friendly Travel Blog</p>
      </div>
    </div>

    <% @city.each do |t|%>
      <div class="item">
        <%= image_tag (t.photo), :class => "coverPhoto"%>
        <div class="carousel-caption">
          <h3><%=link_to "#{t.name}", city_path(t)%></h3>
          <p></p>
        </div>

      </div>
    <%end%>


    <!-- <div class="item">
      <%= image_tag "london", :class => "coverPhoto"%>
      <div class="carousel-caption">
        <h3>London</h3>
        <p></p>
      </div>
    </div>

    <div class="item">
      <%= image_tag "gibraltar", :class => "coverPhoto"%>
      <div class="carousel-caption">
        <h3>Gibraltar</h3>
        <p></p>
      </div>
    </div>
  </div> -->

  <!-- Left and right controls -->
  <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
    <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
    <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
