<%= ENV["secret_test"] %>

<div id="map-container">
  <div id="map"></div>
</div>
<script>
var map;
function initMap() {
  console.log("In INit map");
  map = new google.maps.Map(document.getElementById('map'), {
    center: {lat: 20, lng: 0},
    zoom: 2,
    scrollwheel: false
  });

  <% @city.each do |city| %>
  var marker = new google.maps.Marker({
    url: "<%= city_path(city) %>",
    position: {lat: <%= city.lat %>, lng: <%= city.lon %>},
    title: "<%= city.name %>",
    label: "<%= city.name %>",
    map: map
    });
  google.maps.event.addListener(marker, 'click', function() {
    window.location.href = this.url;
  });
  <% end %>
}
</script>
<script src="https://maps.googleapis.com/maps/api/js?key=<%=ENV['SECRET_GOOGLE_KEY']%>&callback=initMap"
async defer></script></div>


<% if is_premium? %>
<% end %>

<hr>

<div class="citiesList">
 <% @city.each do |t|%>
<div class="col-md-9 col-lg-6">
  <%= image_tag (t.photo), class: "cityPic"%>
  <p class="cityName"><%=link_to "#{t.name}", city_path(t)%></p>

  </div>
  <%end%>
