<% content_for :css do %>
  .cityProfile{
    background-image: url("<%=@city.photo%>");
  }
<% end %>

<style>
  <%=  yield :css %>

</style>
<div class = "darken"><!-- <%= image_tag (@city.photo), class: "cityProfilePic"%> --></div>
<div class="cityProfile">
    <h1 class="welcome">Welcome to <%= @city.name%>,</h1>
    <p class="name"><%= @city.name%></br> lat: <%=@city.lat%></br> lon: <%=@city.lon%>
</div>

<div class="posts">
  <% @posts.each do |post| %>
  <div class="city">
    <img src="<%=post.user.photo %>", class="img-responsive" />
    <h3><%= link_to post.title, city_post_path(@city, post)%></h3>
    <p class = "postData"><small><%=post.content%></small></p>
    <p> <%= "Published " + ((Time.now.to_i - post.created_at.to_i)/3600000).floor.to_s + " days ago" %> </p>

  </div>
  <%end%>
</div>
