<script>
jQuery(function(){

    var minimized_elements = $('p.postData');

    minimized_elements.each(function(){
        var t = $(this).text();
        if(t.length < 250) return;

        $(this).html(
            t.slice(0,250)+'<span>... </span><a href="#" class="more">Read More</a>'+
            '<span style="display:none;">'+ t.slice(250,t.length)+' <a href="#" class="less">Less</a></span>'
        );

    });

    $('a.more', minimized_elements).click(function(event){
        event.preventDefault();
        $(this).hide().prev().hide();
        $(this).next().show();
    });

    $('a.less', minimized_elements).click(function(event){
        event.preventDefault();
        $(this).parent().hide().prev().show().prev().show();
    });
});
</script>

<% content_for :css do %>
  .cityProfile{
    background-image: url("<%=@city.photo%>");
  }
<% end %>

<style>
  <%=  yield :css %>

</style>
<div class= "cityProfile">
  <h1 class="welcome">Welcome to</br> <strong class="welcomeCity"><%= @city.name%>,</strong></h1>
    <!-- <%= image_tag (@city.photo), class: "cityProfilePic"%> -->
  <!-- <p class="name"><%= @city.name%></br> lat: <%=@city.lat%></br> lon: <%=@city.lon%></p> -->
  <%=link_to "Create New Post", new_post_path(@city.name), class: "btn btn-success newPost"%>

</div>

<div class="posts">
  <% @posts.each do |post| %>
  </br><hr>
  <div class="userPost">
    <div class = "userAvatar"><img src="<%=post.user.photo %>", class="img-responsive" /></br>
    <%= link_to post.user.first_name, user_path(post.user) %> <br></div>
    <div class = "content">
      <h3><%= link_to post.title, city_post_path(@city, post)%></h3>
      <p class = "postData"><small><%=post.content%></small></p>
      <p> Published <%= time_ago_in_words (post.created_at)%> ago</p>
    </div>
  </div>
  </br>
  <%end%>
</div>
