<% content_for :css do %>
  .cityProfile{
    background-image: url("<%=@city.photo%>");
  }
<% end %>

<style>
  <%=  yield :css %>

</style>
<div class="cityProfile">

    <div>
      <h1 class="welcome">Welcome to <%= @city.name%>,</h1>
      <!-- <%= image_tag (@city.photo), class: "cityProfilePic"%> -->
      <p class="name"><%= @city.name%></br> lat: <%=@city.lat%></br> lon: <%=@city.lon%>

    </div>
</div>
<div class="posts">
  <% @posts.each do |post| %>
  <div class="city">
    <p class = "postTitle"><%= link_to post.title, city_post_path(@city, post)%></p>
    <p class = "postData"><small><%=post.content%></small></p>
    <p> <%= "Published " + ((Time.now.to_i - post.created_at.to_i)/3600000).floor.to_s + " days ago" %> </p>

  </div>
  <%end%>
</div>
