<h1> Create a new post </h1>

<%= form_for @post do |f| %>
  <div>
    <%= f.text_field :title, placeholder: "Title" %>
  </div>
  <div>
    <%= f.text_area :content, placeholder: "Thoughts" %>
  </div>
  <div>
    <%= f.text_field :photo, placeholder: "Image URL" %>
  </div>
  <%= f.submit %>
<% end %>
